@using TwitchOverlap.Extensions
@using ChannelSummary = TwitchOverlap.Models.ChannelSummary
@model List<ChannelSummary>

@{
    ViewData["Title"] = "Twitch Overlap";
}

@section metatags
{
    <meta property="og:title" content="Twitch Overlap">
    <meta property="og:description" content="The site shows stats about the overlap of chatters from different channels on Twitch. You can find out who your favorite streamer shares viewers with, or how many people are currenlty chat hopping. The site is open source on GitHub."/>
}

<div class="px-2 md:px-4 pt-4">
    <h1 class="font-medium tracking-tighter text-5xl text-center mb-4">Twitch Community Overlap</h1>
    <p class="mb-2">The site shows stats about the overlap of chatters from different channels. You can find out who your favorite streamer shares viewers with, or how many people are currently cross-chatting in the channel. You could also interpret the overlap as chat hoppers.</p>
    <p class="mb-2">Currently tracks all channels over 1,500 viewers. Data updates every 30 minutes (for now).</p>
    <p class="mb-4">Click a channel below or use the search box above.</p>
</div>

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-2 sm:gap-4 mx-2 sm:mx-4">
    @foreach (ChannelSummary summary in Model)
    {
        <div class="channel-card">
            <a href="/@summary.Id">
                <div class="flex justify-start items-center">
                    <img src="https://static-cdn.jtvnw.net/jtv_user_pictures/@summary.Avatar" class="rounded-full" alt="@summary.Id" onerror="if (this.src !== 'https://i.imgur.com/V2dxUn8.png') this.src = 'https://i.imgur.com/V2dxUn8.png'" width="50">
                    <div class="flex flex-col pl-2 overflow-hidden">
                        <div class="truncate">@summary.DisplayName</div>
                        <div class="truncate text-sm">chatters: @summary.Chatters.KiloFormat()</div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>