@model string

@{
    ViewData["Title"] = $"{Model} - No Data";
}

@section metatags
{
    <meta property="og:title" content="@Model - Twitch Community Overlap"/>
    <meta property="og:description" content="The site shows stats about the overlap of chatters from different channels on Twitch. You can find out who your favorite streamer shares viewers with, or how many people are currently chat hopping. The site is open source on GitHub."/>
    <meta property="og:image" content="/images/roki2-round-10.png"/>
}

<div class="container w-full md:max-w-5xl xl:max-w-7xl mx-auto mx-2 tracking-tight mt-16 mb-20">

<div class="pt-4">
    <img src="https://cdn.frankerfacez.com/emoticon/425196/2" alt="Sadge">
    <div class="pt-2">No data recorded for <span class="font-bold">@Model</span></div>
    <div>Only channels above 500 concurrent viewers and 500 chatters are recorded at the moment, requirements may be lowered in the future.</div>
</div>

</div>