@model string

@{
    ViewData["Title"] = "No Data";
}

<div>
    <img src="https://cdn.frankerfacez.com/emoticon/425196/2" alt="sadge">
    <h4 class="pt-2">No data recorded for @Model</h4>
    <p>Only channels above 1,500 concurrent viewers are recorded at the moment, requirements may be lowered in the future.</p>
</div>