@model string

@{
    ViewData["Title"] = $"{Model} - No Data";
}

@section metatags
{
    <meta property="og:title" content="@Model - Twitch Community Overlap">
    <meta property="og:description" content="The site shows stats about the overlap of chatters from different channels on Twitch. You can find out who your favorite streamer shares viewers with, or how many people are currently cross-chatting in the channel. The source code for the site is open sourced on GitHub."/>
}

<div>
    <img src="https://cdn.frankerfacez.com/emoticon/425196/2" alt="sadge">
    <h4 class="pt-2">No data recorded for @Model</h4>
    <p>Only channels above 1,500 concurrent viewers are recorded at the moment, requirements may be lowered in the future.</p>
</div>