@model List<ChannelSummary>

@{
    ViewData["Title"] = "Home";
}

<div>
    <img src="https://cdn.frankerfacez.com/emoticon/425196/2" alt="sadge">
    <p class="pt-2 mb-0">Something went wrong when loading the data. Try refreshing.</p>
    <p>Report issue on <a href="https://github.com/snoww/TwitchOverlapAPI/issues">GitHub</a></p>
</div>