@model List<ChannelSummary>

@{
    ViewData["Title"] = "Twitch Community Overlap";
}

@section metatags
{
    <meta property="og:title" content="@Model - Twitch Community Overlap">
    <meta property="og:description" content="The site shows stats about the overlap of chatters from different channels on Twitch. You can find out who your favorite streamer shares viewers with, or how many people are currently cross-chatting in the channel. The source code for the site is open sourced on GitHub."/>
}


<div class="pt-4">
    <img src="https://cdn.frankerfacez.com/emoticon/425196/2" alt="sadge">
    <div class="pt-2">Something went wrong when loading the data. Try refreshing.</div>
    <div>Report issue on <a href="https://github.com/snoww/TwitchOverlapAPI/issues">GitHub</a></div>
</div>