<!DOCTYPE html>
<html lang="en" class="@(Context.Request.Cookies["theme"] == "light" ? "" : "dark")">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    @await RenderSectionAsync("metatags", false)

    <environment include="Development">
        <title>@ViewData["Title"] (DEV)</title>
        <link href="~/css/tailwind.css" rel="stylesheet"/>
    </environment>
    <environment exclude="Development">
        <title>@ViewData["Title"]</title>
        <link href="~/css/tailwind.min.css" rel="stylesheet" asp-append-version="true"/>
    </environment>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-53NJ04WTT9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-53NJ04WTT9');
    </script>
    @await RenderSectionAsync("headers", false)
</head>
<body class="bg-white dark:bg-gray-800 dark:text-white">
<nav class="fixed top-0 w-full z-50 top-0 bg-white dark:bg-gray-900 shadow-lg">
    <div class="w-full mx-auto flex flex-wrap items-center justify-between py-2 tracking-tight">
        <div class="flex-1 flex items-center">
            <a class="block sm:hidden md:block" href="/">
                <img class="pl-4" src="~/images/roki2-round-10.png" alt="Roki" width="64">
            </a>
            <div class="pl-4 hidden sm:block">
                <environment include="Development">
                    <a class="text-base no-underline hover:no-underline hover:text-pink-500 dark:hover:text-pink-800 font-extrabold text-xl tracking-tighter" href="/">Twitch Overlap (DEV)</a>
                </environment>
                <environment exclude="Development">
                    <a class="text-base no-underline hover:no-underline hover:text-pink-500 dark:hover:text-pink-800 font-extrabold text-xl tracking-tighter" href="/">Twitch Overlap</a>
                </environment>
            </div>
            <div class="pl-8 hidden sm:flex items-center font-medium">
                <a class="text-base no-underline hover:no-underline hover:text-pink-500 dark:hover:text-pink-800 text-xl tracking-tighter" href="/atlas">Twitch Atlas</a>
            </div>
        </div>
        <div class="flex-grow flex justify-center">
            <input type="text" id="search-channel" class="dark:bg-gray-700 focus:ring-pink-500 dark:focus:ring-pink-900 focus:border-pink-500 dark:focus:border-pink-900 border-gray-300 dark:border-gray-800 border block rounded-none rounded-l-md z-10 w-40 sm:w-full md:w-1/2" placeholder="channel">
            <span class="border-gray-300 dark:border-gray-800 dark:bg-gray-700 hover:text-pink-500 inline-flex items-center px-3 border border-l-0 rounded-r-md cursor-pointer" onclick="window.location.href = '/'">
                <i class="fas fa-search"></i>
            </span>
        </div>
        <div class="flex-1 flex justify-end">
            <button class="mr-4 text-gray-700 dark:text-gray-200 hover:text-pink-500 dark:hover:text-pink-800 focus:outline-none" id="toggle-dark" onclick="toggleDark()">
                <i id="dark-icon" class="fas fa-sun fa-2x"></i>
            </button>
            <a class="mr-4 hover:text-pink-500" href="https://github.com/snoww/TwitchOverlap" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
    </div>
</nav>

@RenderBody()

<script>
const rootElement = document.querySelector("html");
const darkIcon = document.getElementById("dark-icon");
window.addEventListener("DOMContentLoaded", () => {
    if (rootElement.classList.contains("dark")) {
        darkIcon.classList.replace("fa-moon", "fa-sun");
    } else {
        darkIcon.classList.replace("fa-sun", "fa-moon");
    }
});

function searchChannel() {
    window.location.href = `/channel/${document.getElementById("search-channel").value}`;
}

document.getElementById("search-channel").addEventListener("keyup", (e) => {
    console.log("keyup");
    if (e.key === "Enter") searchChannel();
});

function toggleDark() {
    if (rootElement.classList.contains("dark")) {
        rootElement.classList.remove("dark");
        darkIcon.classList.replace("fa-sun", "fa-moon");
        document.cookie = "theme=light";
    } else {
        rootElement.classList.add("dark");
        darkIcon.classList.replace("fa-moon", "fa-sun");
        document.cookie = "theme=dark"
    }
}

</script>
</body>
</html>