html * {
  font-family: 'Open Sans', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

body {
  margin-bottom: 60px;
}

* a {
  color: inherit;
  text-decoration: none;
}

.channel-card a:hover, .data-table a:hover, .summary-card a:hover, .avatar-card a:hover {
  text-decoration: underline;
  color: inherit;
}

body > header > nav > div > div.navbar-collapse.collapse.d-sm-inline-flex.justify-content-between > ul > li > a:hover {
  color: inherit;
}

.avatar-card {
  margin-bottom: -5px;
}

.avatar-card > div {
  margin-top: 5px;
}

.summary-card:hover {
  background-color: #d3d3d3;
}

body > header > nav > div > a:hover {
  color: #6200ee !important;
}

@media (prefers-color-scheme: dark) {
  .summary-card:hover {
    background-color: #666666;
  }

  body > header > nav > div > a:hover {
    color: #bb86fc !important;
  }
}

.summary-data > div > p {
  font-size: 14px;
}

body > div > main > div.container > div > div {
  padding-right: 5px;
  padding-left: 5px;
}

.summary-data > div > p {
  white-space: nowrap;
}

.summary-data > div > h6 > a {
  overflow: hidden;
}

body > div > main > div > p > a {
  color: initial;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .summary-card {
    padding-left: 0.2rem!important;
    padding-top: 0.1rem!important;
    padding-bottom: 0.1rem!important;
  }
  .channel-summary {
    padding-left: 0.3rem!important;
  }
}

.summary-card {
  padding-left: 0.75rem;
}

.channel-summary {
  overflow: hidden;
}

.channel-name {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}